.pic-grilled-cheese{
/*	border: auto;
	border-style: dotted;
	border-color: white;
	/*background-color: #b6c199; 
	border-width: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
/*	margin: 12px;*/
	border-style: dotted;
  	text-align: center;
 	 border-color: #b6c199;
  /*background-color: #b6c199; */
  	border-width: 15px;
 	margin: auto;
  	width: auto;
}

.steps-grilled-cheese{
	width:800px;
  	margin: auto;
  	background-color:#c8b7a6 ;
  	text-align: center;
 	padding: 32px;
  	border:15px solid blue;
  	border-color: white;
}

body {
	background-color:  #6699CC;
	font-family: serif
}